.bar-chart {
    margin-top: 50px;
    background: white;
    box-shadow: $panel-shadow;
    transition: 0.3s;
    border-radius: $border-radius;

    
    .bar-chart__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
            font-weight: 400;
            padding-left: 16px;
        }
    }

    svg {
        fill: $color-primary;
    }

    .MuiTypography-body1 {
        font-size: 10px;
        font-family: $font-body;
    }

    .chart{
        height:50vh;
        width:60vw;
    
        text {
            font-family: $font-body !important;
        }
    
    
        .PrivateSwitchBase-root-1 {
            padding-right: 0px;
        }
    }
    
}
   
.chart:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}