.bar-chart {
    @include panel;
    
    transition: 0.3s;
    
    .bar-chart__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        fill: $color-primary;
    }

    .MuiTypography-body1 {
        font-size: 10px;
        font-family: $font-body;
    }

    .MuiIconButton-root, .PrivateSwitchBase-root-1 {
        padding: 0px;
    }

    .MuiTypography-root {
        margin: 2px;
    }

    .MuiFormControlLabel-root {
        margin-right: 0px;
        margin-left: 11px;
    }

    .chart{
        height:50vh;
        width:60vw;
    
        text {
            font-family: $font-body !important;
        }
    
    
        .PrivateSwitchBase-root-1 {
            padding-right: 0px;
        }
    }
    
}
   