.chart {
    margin-top: 50px;
    height:50vh;
    width:60vw;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: $border-radius;

    svg {
        fill: $color-primary;
    }

    .chart__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 400;
            padding-left: 16px;
        }
    }

    .MuiTypography-body1 {
        font-size: 10px;
        font-family: $font-body;
    }

    .PrivateSwitchBase-root-1 {
        padding-right: 0px;
    }
}
   
.chart:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}