.index {
    @include container;

    .index__no-clients {
        height: 30px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: $panel-shadow;
        text-align: center;
    }

    .index__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            background: white;
            box-shadow: $panel-shadow;
            border-radius: $border-radius;
            height: 30px;
            border: none;
            font-family: $font-body;
            padding-left: 5px;

            &:focus {
                outline: none;
            }
        }
    }
}