.MuiMenuItem-root {
    font-family: $font-body;
}

.pie-chart {
    @include panel;
    font-family: $font-body;

    .pie-chart__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // .pie-chart__click-conv-rate {}

        .MuiFormHelperText-root, .MuiInputBase-root {
            font-family: $font-body;
        }
    }
    
    .chart{
        height:80vh;
        width:60vw;
        margin: 0 auto;

        path:nth-of-type(1) {
            fill: $color-primary-light !important;
        }

        path:nth-of-type(2) {
            fill: $color-primary !important;
        }

        text {
            font-family: $font-body !important;
            font-size: 12px !important;
        }

    }
}

@media only screen and (max-width: 760px) {
    .pie-chart {
        .chart{
            width:90%;

            // path {
            //     margin: 0 auto;
            // }
    }
}
}

