.profile {
    @include container;

    .profile__header {
        display: flex;
        justify-content: space-between;
        align-items: center ;
        height: 50px;
        background-color: white;
        border-radius: $border-radius;
        margin-top: 50px;
        padding: 10px;

        img {
            height: 100%;
            width: auto;
        }
    }

}