.profile {
    @include container;

    .loading {
        font-family: $font-header;
        text-align: center;
        color: gray;
    }

    .profile__header {
        @include panel;

        display: flex;
        justify-content: space-between;
        align-items: center ;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        

        img {
            height: 100%;
            width: auto;
        }
    }

}