.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    position: fixed;
    top:0px;
    width: 100vw;
    box-sizing: border-box;
    height: 50px;
    z-index: 5;
    padding-right: 30px;

    h1 {
        font-family: $font-header;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 2px;
        color: $color-text-higlight;
        margin-left: 20px;
        padding: 5px;

        &:hover {
            background-color: $color-primary-dark;
        }
    }

    input {
        box-shadow: none;
    }
}